/*CSS.css */
/* taille typo
 * Base				100%
 * -------------------------------------
 * 20px				1.27em
 * 19px				1.21em
 * 18px				1.15em
 * 17px				1.09em
 * 16px				1.03em
 * 15px				0.96em
 * 14px				0.88em
 * 13px				0.82em
 * 12px				0.77em
 * 11px				0.71em
 * 10px				0.65em
 *  9px				0.59em
 * Attention : en dessous de 0.71em le texte devient illisible en text smallest sur IE
 
 #height: 15px;/* override for Microsoft Internet Explorer browsers*/

/* initialisation */
html {
	margin: 			0;
}
body{
	background-color:	#1F1F1F;
	max-width:			80em;
	margin-right:		auto;		
	margin-left:		auto;				
/*	margin:				0;*/
	padding:			0;
	font-family:		Arial,'Trebuchet MS',Trebuchet,'Lucida Sans Unicode','Lucida Grande','Lucida Sans',Arial,sans-serif;
	/*background-image:url("./img_index/bg-three.jpg"); */
}
#wrapper{
	/*background-color:	#222222;*/
	margin-right:		auto;		
	margin-left:		auto;
	/*width:				100%;*/
}
@media (min-width: 44em)
{
  	#content{
	max-width:			44em;
	min-height:			40em;
	margin-top:			0.1em;
	margin-left:		auto;
	margin-right:		auto;	
	
/* 	background-color:	#EEEEEE; */
	background-color:	white;		/* The Fallback for IE */
	/*background-color:	rgba(240, 240, 240, 0.9);*/
	padding:			3em;
	border: 			1px solid;
/* 	-moz-border-radius: 	20px; */
/* 	-webkit-border-radius: 	20px; */
	border-radius: 		20px 20px 20px 20px;			/* BUG: Parse Error [empty string] ???? */
 	box-shadow: 		5px 5px 10px #CCC;	 /*x y size color*/

	/*-moz-box-shadow: 10px 10px 10px #aaaaaa;
	-webkit-box-shadow: 3px 3px 3px #aaaaaa;
	box-shadow: 3px 3px 3px #aaaaaa;*/
}
}
@media (max-width: 44em)
{
  	#content{
		margin-top:			0.1em;
		margin-left:		auto;
		margin-right:		auto;	
	
	/* 	background-color:	#EEEEEE; */
		background-color:	white;		/* The Fallback for IE */
		/*background-color:	rgba(240, 240, 240, 0.9);*/
		padding:			1em;
		border: 			1px solid;
		border-radius: 		20px 20px 20px 20px;			/* BUG: Parse Error [empty string] ???? */
	 	box-shadow: 		5px 5px 10px #CCC;	 /*x y size color*/
	}
}

.Style1{
	font-size:		0.82em;
}

/********************************************************************************/
/*									MEDIA QUERIES								*/
/********************************************************************************/
@media (max-width: 1200px)
{
  	#left_panel,
  	#wrapper div#right,
  	#menu_top ul.menuTop li.logo
    {
    	display:none;
    }
}


/********************************************************************************/
/*										NEWS									*/
/********************************************************************************/
#vcard div.news_head a, #vcard div.news_date a:visited{
	color:				black;
}
#vcard div.news_date{
	color:				gray;
	font-size:			0.7em;
}


/********************************************************************************/
/*										VCARD									*/
/********************************************************************************/

#vcard{
	max-width:				14em;
	float:				left;
	background-color:	#EEEEEE;
	margin-top:			7em;
	margin-left:		0em;
	padding:			0.5em;	
	border: 			1px solid;	
/*	border-color: 		#F8AA33;*/
	border-radius: 		20px 20px 20px 20px;			/* BUG: Parse Error [empty string] ???? */
 	box-shadow: 		5px 5px 10px #CCC;	 /*x y size color*/
 	font-size:			0.82em;

}
#vcard h2, #vcard h2 a:link, #vcard h2 a:visited{
	text-align:			center;
	font-size: 			1.1em;	
/*	color:				white;	*/
}

#vcard img.myId{
	max-width:				70px;
	border:				none;
	margin:				5px;
}

/********************************************************************************/
/*										MENU									*/
/********************************************************************************/

.logo a{
	font-size:		1em;
	color:			#f8BB33;
}


/*html body div#wrapper div#menu_top table tbody tr td{*/
/*html body div#wrapper div#menu_top table tbody tr td.ball_1*/

/*}*/
#menu_top{
	text-align:center;
	max-width:		50em;
	margin-top:		0.5em;
	margin-left:	auto;
	margin-right:	auto;	
}
#menu_top table{
/*	padding:		20px;*/

	text-align:		center;
}

li.ball_1, li.ball_2, li.ball_3{
	font-size:		1em;
	/*width:			20%;*/
	color:			white;
	font-weight:	bold;	

}
li.ball_1 a, li.ball_2 a, li.ball_3 a{
	color:			white;	
}
ul.menuTop li.ball_1 a, ul.menuTop li.ball_2 a, ul.menuTop li.ball_3 a {
  display: block;
  text-decoration: none;
  padding:			1em 0em 1em 0em;
  /*width:			8em;*/
  margin-left:		auto;
  margin-right:		auto;
}
/*#menu_top table a.ball_1{*/
/*	color:			white;*/
/*	width:			100px;*/
/*	height:			50px;*/
/*	padding-top:		30px;*/
/*	margin-left:		auto;*/
/*	margin-right:		auto;*/
/*	display: 		block;*/
/*	text-decoration: 	none;*/
/*	border-style:		none;*/
/*}*/
/*html body div#wrapper div#menu_top table tbody tr td.logo a.logo_a{
	width:			50%;
	height:			100%;
	text-align:		center;
}*/
#menu_top a:active{
	border:				none;
	border-style:		none;
	border-width:		0;
}

/*html body div#wrapper div#menu_top table tbody tr td.logo h1 a.logo_a{*/
/*	font-size: 0.8em;*/
/*}*/
/*#menu_top table a.logo_a:hover{*/
/*	color:			#f8AA33;*/
/*}*/
img.flag{
 	opacity: 		0.3;
}
img.flag:hover{
 	opacity: 		0.9;
}
ul.menuTop{
	list-style-type: none;
	margin-left:	-3em;
}
ul.menuTop li{
	display: 			inline-block;
}
ul.menuTop li.logo{
	font-size:			1.8em;
	font-weight:		bold;
    max-width:				11em;
}
@media (min-width: 44em)
{
  	ul.menuTop li.ball_1,ul.menuTop li.ball_2,ul.menuTop li.ball_3 {
		width:				9em;
		text-align:			center;
		padding:			0.6em 0em 0.6em 0em;
		margin:				0em 0em 0.5em 0.8em;
	}
}
@media (max-width: 44em)
{
  	ul.menuTop li.ball_1,ul.menuTop li.ball_2,ul.menuTop li.ball_3 {
		width:				4em;
		text-align:			center;
		padding:			0.6em 0em 0.6em 0em;
		margin:				0em 0em 0.5em 0.8em;
	}
}

.ball_1,.ball_2,.ball_3{	
	border-radius: 		0.5em 2em 0.5em 2em;
/* 	-webkit-border-radius: 155px / 100px; */	
	box-shadow: 		5px 5px 10px #CCC;
/* 	-webkit-box-shadow: 5px 5px 25px #CCC; */	
/* 	background-position: 	center center; */
}
.ball_1{
	background-color:	#f8BB33;
 	opacity: 		0.9;
}
.ball_2{
	background-color:	#33BB33;
 	opacity: 		0.9;
/* 	background-image: radial-gradient(175px 75px 45deg, ellipse , #ffffff 0%, #111111 50%, #33FF33 100%); */
/* 	background-image: -moz-radial-gradient(195px 60px 45deg, ellipse , #ffffff 0%, #111111 50%, #33FF33 100%); */
	/* For Internet Explorer 8 */
/*        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#111111, endColorstr=#33FF33, GradientType=1)"; */
}
.ball_3{
	background-color:	#DD33FF;
 	opacity: 		0.9;
/* 	background-image: radial-gradient(175px 75px 45deg, ellipse , #ffffff 0%, #111111 50%, #FF33FF 100%); */
/* 	background-image: -moz-radial-gradient(195px 60px 45deg, ellipse , #ffffff 0%, #111111 50%, #FF33FF 100%); */
	/* For Internet Explorer 8 */
/*        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#111111, endColorstr=#FF33FF, GradientType=1)"; */
}

.ball_1:hover, .ball_2:hover, .ball_3:hover{
 	opacity: 		1;
/* 	background-image: radial-gradient(175px 75px 45deg, ellipse , #ffffff 0%, #111111 30%, #f8ff00 100%); */
/* 	background-image: -moz-radial-gradient(195px 60px 45deg, ellipse , #ffffff 0%, #111111 30%, #f8ff00 100%); */
}


/********************************************************************************/
/*										HOME									*/
/********************************************************************************/

#mindmap{
/* 	width:			96%; */
/*	padding:		2%;*/
	margin-left:		auto;
	margin-right:		auto;
/* 	margin-bottom:		30px; */
/*	text-align:		center;*/
}

#mindmap img{
	border: 			none;
/* 	text-align:			center; */
	text-decoration:	none;
}

.node{
	display:			none;
}

#diagram{
/*float:right;*/
width:					600px;
height:					600px;
margin-left:			auto;
margin-right:			auto;
}

.get {
display:none;
}

.legend {
/*float:left;*/
width:250px;
margin-top:140px;
}

/*#content h1 {*/
/*font-family:'Cabin Sketch', arial, serif;*/
/*text-shadow:3px 3px 0 #ddd;*/
/*color:#193340;*/
/*font-size:40px;*/
/*margin-bottom:40px;*/
/*text-align:right;*/
/*}*/


/********************************************************************************/
/*										ARTICLE									*/
/********************************************************************************/

div.post{
	border: 			1px solid;
/*	background-color:	rgb(250,250,250);*/
	border-color:		#DDDDDD;
	border-radius: 		10px 10px 10px 10px;			/* BUG: Parse Error [empty string] ???? */
 	box-shadow: 		2px 2px 5px #CCC;	 /*x y size color*/
}
div.post{
	margin-bottom:		1em;
}
div.post div.article{
	margin:				1em;
}
div.post div.article div.article_left_content div.article_date{
	background-color:	#f8AA33;
	width:				9em;
	padding:			0.5em;
	color:				white;
	font-size:			0.8em;
	text-align:			center;
}
div.post div.article div.article_left_content div.article_author{
	margin-top:			1em;
	font-size:			0.65em;	
}
div.post div.article div.article_right_content{
	margin-left:		9em;
}
div.post div.article div.article_left_content{
	float:				left;
	text-align:			right;
}
div.post div.article div.article_right_content h2{
	font-weight:		normal;
}
div.post div.article div.article_right_content h2 a:hover{
	text-decoration:	underline;
}
div.post div.article div.article_right_content h3{
	font-size:			0.9em;
	font-style:			italic;
}
html body div#wrapper div#content div.post div.article div.article_right_content div.article_feedback{
	background-color:	#EEEEEE;
	padding:			0.8em;
	font-size:			0.8em;
	
}
/********************************************************************************/
/*									PUBLICATIONS								*/
/********************************************************************************/
#content div#publications h1{
	margin-top:			0;
	text-align:			center;
	font-size:			1.5em;
}

#publications section{
	margin-bottom:		1em;
	font-size:			0.82em;
}
#publications section span.headline{
	font-weight:		bold;
	color:				#4F5051;
}

#publications section span.publisher{
	font-style:		italic;
}
#publications section ul.download{
	list-style-type: none;
	margin-left: -40px;
	margin-top:	5px;
}
#publications section ul.download li {
    border-color: #BBBBBB;
    border-style: solid;
    border-width: 1px;
    color: #333399;
    display: inline;
    margin-right: 0.5ex;
    margin-top: 0;
    padding-left: 1ex;
    padding-right: 1ex;
    width: auto;
}
/********************************************************************************/
/*										RESUME									*/
/********************************************************************************/
#content section.person a{
	color:				black;
}
#content section.person{
	font-size:			0.82em;
}
#content img.myId{
	width:				117px;
	height:				146px;
	float:				right;
	margin-left:		20px;
}
#content ul.network li{
	display: inline-block;
  	text-decoration: none;
  	padding-right:	2em;

}
#content ul.network{
	text-align:		center;
}
.ItemTable{
	width:				100%;
	padding-left:		0.5em;
}
div.SectionTitle {
	text-indent: 		2em;
	font-weight:		bold;
	margin: 			0;
	background-color:	#EEEEEE;
}
#content h2 {
	/*text-indent: 		2em;*/
	margin-top: 		0px;
	margin-bottom: 		3px;
/*	background-color:	#EEEEEE;*/
	font-size:			1em;	
}
div.SectionTitle a:link, div.SectionTitle a:visited{
	color:				black;
}

div.Description, div.List, #content ul.ItemDesc li, #content nav ul li.Item {
	margin: 			0.5em 0;
	list-style-type: 	none;
	line-height:		13px !important;
}

div#content ul.ItemDesc li {
	list-style-image: 	url('icon/bullet1.png');
}


/******* EXPERIENCE / EDUCATION *********/
.Item{
/*	border: 			1px solid;
	background-color:	rgb(250,250,250);
	border-color:		#DDDDDD;
	border-radius: 		10px 10px 10px 10px;			
 	box-shadow: 		2px 2px 5px #CCC;*/	 /*x y size color*/
}
#content h2 a.ItemTitle{
	color:				#33BB33;
	text-align: 		left;
	font-weight:		bold;
	font-size:			0.7em
}
#content a img.Logo, #content a.top{
	float:				right;
}
/*.ItemTitle a:link, .ItemTitle a:visited{*/
/*	color:				#33BB33;*/
/*	text-align: 		left;*/
/*	font-weight:		bold;*/
/*	font-size:			1.03em*/
/*}*/
.ItemTitle h3 a:link, .ItemTitle h3 a:visited, #publications section span.headline a:link, #publications section span.headline a:visited{
	color:				#33BB33;
	text-align: 		left;
/*	font-weight:		bold;*/
	font-size:			0.88em;
	margin:				0;
}
html body div#wrapper div#content h3 a.ItemSubTitle{
	font-size:			0.7em;
	margin-left:		1em;
	font-weight:		normal;
}
/*.ItemSubTitle a:link, .ItemSubTitle a:visited{*/
/*	font-size:			0.82em;*/
/*	margin-left:		1em;*/
/*}*/
h4.ItemSubTitle a:link, h4.ItemSubTitle a:visited, h4.ItemSubTitle a:link, h4.ItemSubTitle a:visited{
	font-size:			1em;
	font-weight:		normal;	
	margin-left:		1em;
	margin-top:			-2em;
    position: 			absolute;	
}
.category{
	font-size:			0.82em;
	font-weight:		bold;
	color:				gray;
	margin-left:		1em;
}
.ItemDesc{
	font-size:			0.71em;
	margin-left:		1em;
}

div#content a.CompanyLink, div#content a.LinkPdf{
	color:				#5053B3;
	text-decoration: 	underline;
	font-size:			0.82em;
	margin-left:		2em;
}

#content nav ul hr {								/* left_menu */
	margin-right:	5px;
	width: 			50%;
	color:			white;				/*#67b7f4;*/
}
.more{
	font-size:			0.71em;
	color:				gray;
	margin-left:		90%;	
}
p.see_all{

	width:				3%;
	height:				2em;
	margin-left:		auto;
	margin-right:		auto;
	border-right:		5px dotted gray;;
	text-align:			center;
}
p.see_all a{
	padding:			1em 2.5em 1em 1em;
}

#content nav ul li table.ItemTable tbody tr td.logo_institution{
	text-align:			right;
}

#content p, #content ul{

	font-size:			0.82em;	
}

#content h4{
	color:				gray;
	margin-left: 		1em;
	font-size:			0.82em;		
}
#slide_img{
	width:			500px;
	height:			370px;
	border: 			1px solid;	 				/*dotted solid double dashed */
	border-color:		#33BB33;
}
/*********** SKILLS / VARIED ************/
#right{
	width:				12em;
	float:				right;
	background-color:	white;
	margin-top:			6em;
/*	margin-left:		1em;	*/
/*	margin-left:		3em;*/
	padding:			5px;	
	border: 			1px solid;	
/*	border-color: 		#F8AA33;*/
	border-radius: 		20px 20px 20px 20px;			/* BUG: Parse Error [empty string] ???? */
 	box-shadow: 		5px 5px 10px #CCC;	 /*x y size color*/

}
#right:empty {
 	display: none;
}
#skill h2, #skill h2 a:link, #skill h2 a:visited{
	text-align:			center;
	font-size: 			1.1em;	
/*	color:				white;	*/
}

#skill dl dt{
	color: 				gray;
    font-size: 			0.82em;
	margin-bottom:		0.2em;
	font-weight:		bold;

}
#skill dl dd a:link, #skill dl dd a:visited{
	color:				black;
}
#skill dl dd{
	font-size: 			0.71em;
	color:				black;
	margin-left:		2em;
	margin-bottom:		1em;
}

.ItemTable2{
	margin-left:		2em;
	margin-top:			1em;
}
.ItemEnumTitle{
	color:				gray;
	font-weight:		bold;
	font-size:			0.71em;
}
.ItemEnumDesc{
/*	font-size:	0.9em;*/
	font-size:			0.71em;
}
#ItemUpdate{
	font-size:	0.8em;
	text-align:	center;
	font-style:	italic;
}
.notion{
/*	font-style:	italic;*/
	color:		gray;
}

/********************************************************************************/
/*										CONTACT									*/
/********************************************************************************/

#contact, #contact p{
	text-align:		center;
}
#contact form table{
	margin-left:		auto;
	margin-right:		auto;
	font-size:	0.8em;	
}
.contact_error{
	color:			red;
}
#contact figure img{
	margin-left:	auto;
	margin-right:	auto;
    width: 			5em;
}

/*figure:focus {
  	outline: none;
	-webkit-transform: 	scale(2); 
	-moz-transform: 	scale(2);
}*/

/********************************************************************************/
/*								GENERAL - FOOTER								*/
/********************************************************************************/

footer, #footer{
	max-width:			50em;
/*	padding:			10px;*/
	margin-top:			20px;
	margin-bottom:		20px;
	margin-left:		auto;
	margin-right:		auto;
}

footer table, #footer table{
	color:				#887450;
	width:				100%;
	font-size:			12px;
	padding:			0 0 0 0;			/* top  right bottom  left  */
	text-align:			center;
/*	margin-left:		auto;	*/
/*	margin-right:		auto;*/
}

footer img, #footer img {
	border: 			none;
/* 	text-align:			center; */
	text-decoration:	none;
}

footer table.table_footer tbody tr td a img{
	border:				none;
	text-decoration:	none;
}
#footer2, #footer2 a{
	color:				gray;
	font-size:			12px;
	padding:			0 0 0 0;			/* top  right bottom  left  */
	text-align:			center;
}

/********************************************************************************/
/*									GENERAL - LINK								*/
/********************************************************************************/
.img_no_decoration{
	border-style:none;
	border-color:red;
}

a:hover{
	text-decoration:	underline;
}
a:link, a:visited {
	text-decoration:	none;				/* soulignement des liens */
	border: 		none;
	color:			gray;
}
.logo a:visited{
	color:			#f8BB33;
}
.logo a:hover{
	color:			#f8BB33;
}

